# Ignore SQLite databases in storage directory
/storage/*.sqlite3
/storage/*.sqlite3-*

# Ignore temporary cache files
/tmp/

# Ignore log files
/log/*.log

# Ignore uploaded files
/storage/*
!/storage/.keep

# Ignore node modules and bundler files
/node_modules
/vendor/bundle

# Ignore Mac-specific files
.DS_Store

# Ignore IDE files
.idea/
.vscode/
*.swp
*.swo
